
html, body {
  background-color: Lightgrey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%; 
  margin: 0; }

p { 
  color: rgb(50,50,50); 
  line-height: 20px;
  margin: 0; }

h3 { margin: 0.5em 0; }
h4 { margin: 1em 0; }

pre { overflow: scroll; }
code { background-color: rgb(240,240,240); padding: 4px; }

.clearfix {}
  .clearfix:before, .clearfix:after
  .skill:before, .skill:after,
  .commits-section:before, .commits-section:after,
  .content-section:before, .content-section:after {
    content: " ";
    display: table; }
  .clearfix:after,
  .skill:after,
  .commits-section:after,
  .content-section:after {   
    clear: both; }

.head { 
  background-color: black; 
  color: white; }
  .head .title {
    height: 100px;
    font-weight: 100;
    margin: 0;
    padding: 0.5em 0;
    text-align: center; }
    @media (max-width: 767px) {
      .head .title {
        padding: 0.25em 0; } }   
  .head:hover .title {
    cursor: pointer; }
  .head svg#title { height: 100px; }

.nav {
  background-color: rgb(75,75,75);
  color: white;
  text-align: center; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .nav li {
    background-color: black;
    display: inline-block;
    margin-left: -5px;
    padding: 1em; }
  .nav li:hover {
    background-color: rgb(75,75,75);
    cursor: pointer; }
  .nav li.active {
    background-color: lightgrey; 
    color: black; }

.background { background-color: white; }

.main {
  height: 100%;
  position: relative;
  text-align: center; 
  z-index: 1; }


.content {
  color: black;
  display: none;
  margin: 2em auto 0;
  text-align: left;
  width: 1000px; }
  @media (max-width: 1024px) {
    .content {
      margin: 1em auto;
      width: 800px; } }
  @media (max-width: 767px) {
    .content {
      margin: 1em auto;
      width: 450px; } }
  @media (max-width: 450px) {
    .content {
      width: 100%; } }
  .content-head img { float: left; margin: 0 1em 1em 0; }
  .content .content-title, .content .content-head {
    color: white;
    font-weight: 200;
    margin: 0; }
  .content .content-title {
    background-color: black; 
    font-size: 2em;
    padding: 1em; }   
  .content-section { 
    background: white; 
    margin-bottom: 2em;
    padding: 1em; }
    .content-section img { margin: 1em 0; width: 100%; }


.about {}
  .about img { width: 25%; }
    @media (max-width: 767px) {
    .about img { width: 33%; } }
  .about #intp { float: right; margin-left: 1em; }
  .about #way_things_work { float: left; margin-right: 1em; }
  .about #shibusa { margin: -2em 0 2em 0; width: 100%; }
  .about .cmd-up { margin-top: 0; text-align: right; }
    .about .cmd-up:hover { cursor: pointer; opacity: 0.75; }
  .about .skill p { 
    vertical-align: top; }
    .skill img { float: left; margin-right: 1em; width: 75px; }
    .skill p { margin: 1em 0; }

.code { display: none; }
  .code #mezzanine-logo { margin: 0.5em; width: 94px; }
  .code #ie-logo { float: left; margin: 2em; width: 75px; }
  .code #github-logo { margin: 0.5em; width: 87px; }
  .code #breadcrumb-play { float: left; margin-right: 1em; width: 30%; }
  .code #kx-cube { height: 90px; margin: 5px 0; }
  .code #kx { margin: -1px 0 -5px; width: 100%; }
  .code .connections-algo { margin-top: 1em; }
  .code .connections-algo img { margin: 0 0 1em; }
  .code .commits-section { margin-bottom: 2em; } 
    .commits-section img { float: left; margin: 0 1em 1em 0; width: 50%; }
    @media (max-width: 767px) {
    .commits-section img { float: none; margin: 0; width: 100%; } }
  @media (max-width: 767px) {
    .code .connections-algo img { width: 100%; } }
  .code #CA { float: left; margin-right: 1em; width: 20%; }

.more { display: none; }
  .more .links p { margin-bottom: 1em; }