
include ./code/2015-death-screen.jade
include ./code/2015-editable.jade
include ./code/2014-mezzanine-migration.jade
include ./code/2014-10-01-mail-to.jade
include ./code/2014-github.jade
include ./code/2014-breadcrumb.jade
include ./code/2014-django.jade
include ./code/2014-svg-states.jade
include ./code/2013-kyuplex.jade


.nav
  ul
    li.tab.about-tab(x='about') about
    li.tab.code-tab(x='code') code
    li.tab.more-tab(x='more') more
