
.links.content-section

  //- p Movie Library - A simple front-end coding challenge I completed:&nbsp;
  //-   a(href='http://robcmills.net/movie-library', target='_blank').
  //-     robcmills.net/movie-library

  p Ember 2.0 Todo with Bootstrap 4:&nbsp;
    a(href='http://robcmills.net/ember-todo', target='_blank').
      robcmills.net/ember-todo

  p I designed and built a wooden coordinate motion puzzle box:&nbsp;
    a(href="http://coordinatemotionpuzzlebox.blogspot.com").
      coordinatemotionpuzzlebox.blogspot.com

  p My QuakeLive custom HUD's:&nbsp;
    a(href="http://qlhud.net/author/orInge").
      qlhud.net/author/orInge

  p A fun little pure javascript project:&nbsp;
    a(href="http://robcmills.net/accutouch").
      robcmills.net/accutouch

  p Google Plus:&nbsp;
    a(href="http://google.com/+RobertCarterMills").
      google.com/+RobertCarterMills

