
.links.content-section

  //- p Movie Library - A simple front-end coding challenge I completed:&nbsp;
  //-   a(href='http://robcmills.net/movie-library', target='_blank').
  //-     robcmills.net/movie-library

  div.link
    p Simple chess variant game I created with React 15, svg and Redux:&nbsp;
    #[a(href='http://robcmills.net/hex' target='_blank') robcmills.net/hex]

  div.link
    p Ember 2.0 Todo with Bootstrap 4:&nbsp;
    #[a(href='http://robcmills.net/ember-todo' target='_blank') robcmills.net/ember-todo]

  div.link
    p I designed and built a wooden coordinate motion puzzle box:&nbsp;
    #[a(href="http://coordinatemotionpuzzlebox.blogspot.com" target='_blank') coordinatemotionpuzzlebox.blogspot.com]

  div.link
    p My QuakeLive custom HUD's:&nbsp;
    #[a(href="http://qlhud.net/author/orInge" target='_blank') qlhud.net/author/orInge]

  div.link
    p A fun little pure javascript project:&nbsp;
    #[a(href="http://robcmills.net/accutouch" target='_blank') robcmills.net/accutouch]

  div.link
    p Google Plus:&nbsp;
    #[a(href="http://google.com/+RobertCarterMills" target='_blank') google.com/+RobertCarterMills]
