
#kyuplex.content-head
  img#kx-cube(data-src="img/cube.jpg")
  h2.content-title kyuplex

img#kx(data-src="img/kyuplex.jpg")

.content-section
  a(href='http://kyuplex.blogspot.com') kyuplex.blogspot.com <br>
  a(href='https://github.com/robcmills/kyuplex') github.com/robcmills/kyuplex 
  br
  br

  p.
    kyuplex is a portmanteau of cube + complex. <br>
    It is a completely unique word I created to describe my programming project.  It is so unique in fact, that if you google it the entire first page of results are links to my dev blog about it, the github repository, and my website.  All without doing any SEO whatsoever. <br>
    kyuplex is a programming exercise, learning experience, physics experiment, and manifestation of my obsession with geometric primitives.  kyuplex is my first major programming project after learning c++.  It uses irrlicht, an excellent open-source rendering engine and scene manager, as well as the Bullet physics library. <br>
    kyuplex is a third-person simulation where you can control a cube with real physics and interact with other objects that have mass, and behave in realistic ways. For example, if you get going too fast and bump into another object with enough force, your cube will shatter accurately and you will lose points.

  img(data-src="img/kxCube-fracture.jpg")
  p.
    kyuplex philosophy is about creating complexity from a simple cube. <br> 
    This is accomplished through a deceptively simple visual style that emphasizes innovative gameplay physics and skilled precise movement. Although at first the game seems very simple, complexity is slowly unfolded through consistently evolving gameplay, in which each level presents the player with a unique challenge that introduces a new concept or dynamic. It is an ambitious goal because it breaks the mold of traditional gameplay, where the game mechanics are fairly static and each level is just a presentation of new content. <br>
    kyuplex presented a number of fun challenges during its development, such as:

  a(href="http://kyuplex.blogspot.com/2013/03/preventing-camera-gimbal-lock-under.html") preventing camera gimbal lock under multiple inheritance <br>
  a(href="http://kyuplex.blogspot.com/2012/11/cube-of-cubes-connections-algorithm.html") cube of cubes connections algorithm <br><br>

  p.
    kyuplex is inspired by my favorite games: #[b Quake] (id), #[b DeFrag] (Quake 3 mod), and #[b Portal] (Valve).
    &quot;kyu&quot; is also the English romanization of a common Japanese syllable, きゅ <br>
    This sound can have many meanings and Kanji associated with it, depending on the context. My particular favorite is きゅうき pronouced /kyu:ki/ (IPA) 吸気 <br>
    The first character can mean #[em 'to inhale; to sip'] <br>
    The second #[em 'mind; mood; spirit'] <br>
    And together the meaning becomes: #[em inspiration]
