
#github.content-head
  img#github-logo(data-src='img/github-logo.png')
  h2.content-title Github summary 2014

.content-section
  p Most of my commits this past year have been into private repositories. The following is a summary of the major projects I have been working on. I've excluded a number of smaller miscellaneous repos for the sake of brevity. 
  img(data-src='img/git-contributions.png')

  .commits-section
    img.commits(data-src='img/breadcrumb-commits.png')
    p
      a(href="https://github.com/thegogame/breadcrumb").
        github.com/thegogame/breadcrumb #[br]
      em Oct 2012 - Jan 2015 #[br]
      a(href="http://play.thegogame.com" target="_blank").
        play.thegogame.com #[br]
      p Built groups and sequences features, mission lists, mission search, facebook sharing in-app, gamezone edit interface, recursive media importer feature, media auto orientation, flavors interface, an S3 uploader ember component, and much more...

  .commits-section
    img.commits(data-src='img/website-bravo-commits.png')
    p 
      a(href="https://github.com/thegogame/website-bravo").
        github.com/thegogame/website-bravo #[br]
      em Apr 2013 – Jan 2015 #[br]
      a(href="http://thegogame.com" target="_blank") thegogame.com #[br]
      p I rebuilt our entire website site from the ground up (alpha). Then I recreated it again on EC2 with a number of optimizations (bravo).

  .commits-section
    img.commits(data-src='img/client-portal-commits.png')
    p 
      a(href="https://github.com/thegogame/client-portal").
        github.com/thegogame/client-portal #[br]
      em Jul 2014 – Jan 2015 #[br]
      a(href="https://secure.thegogame.com", target="_blank").
        secure.thegogame.com/cc #[br]
      p A credit card payment processing site I built with pure Django and a custom gateway for Django-merchant.
 