
#end-at-editable.content-head
  h2.content-title Beautiful CSS

.content-section
  h4 The Problem:
  p The game end-at popup was getting cut off on mobile, making it difficult to edit, as well as the game status buttons and the layout was generally a mess. Another developer on our team had taken a pass at it and said it wasn't possible because of the editable popup. #[br]Nonsense. 

  h4 The Solution:
  p Some beautiful css.
  .end-at-box
    .end-at-item
      .caption Before
      img.end-at(data-src='https://cloud.githubusercontent.com/assets/4131746/8068142/e8c6a76c-0ea6-11e5-9aa1-29a72724b0d4.PNG')
    .end-at-item
      .caption After
      img.end-at(data-src='img/end-at-after-edit.png')
    .end-at-item
      .caption After
      img.end-at(data-src='img/end-at-after.png')
  