.app {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-background {
  background: hsl(0, 0%, 90%);
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 16px 0;
}

.main-content {
  background: white;
  max-width: 800px;
}

section {
  padding: 16px;
}
